* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: rgb(34, 134, 201);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    user-select: none;
}


.navbar-container {
    display: flex;  /* Move Pagename and buttons into one line */
    justify-content: space-between;  /* Move Pagename and buttons into one line */
    width: 100%;  /* Move Pagename to the left and buttons to the right */
    padding-right: 50px;
    padding-left: 50px;
    font-weight: bold;
}


.navbar-home {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(29, 6, 129);
}


.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.navbar-item {
    height: 80px;
}


.navbar-link {
    color: rgb(29, 6, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
}